<div class="container">
	<div class="row">
		<form class="form-horizontal" role="form" action="/task/index" method="post">
		  <div class="form-group">
		    <label class="col-md-offset-1 col-sm-2 control-label">Url</label>
		    <div class="col-sm-6">
			    <input type="text" class="form-control" name="url" placeholder="Enter url" value="<%= @task_url %>">
			 </div>
			  <div class="col-sm-1">
				  <button type="submit" class="btn btn-default">Submit</button>
			  </div>
		  </div>
		</form>
    </div>
	

	<div class="row">
	<% if @task %>
		<form class="form-horizontal" role="form" action="/task/create" method="post">
		  <%= hidden_field_tag "album_md5", @album_md5 %>
		  <%= hidden_field_tag "task_url", @task_url %>
		  <div class="form-group">
		    <label class="col-md-offset-1 col-sm-2 control-label">Task</label>
		    <div class="col-sm-6">
			    <input type="text" class="form-control" name="task_name" placeholder="Enter task name" value="<% if @task %> <%= @task[:name] %> <% else %> @album <% end %>">
			 </div>
			  <div class="col-sm-1">
				  <button type="submit" class="btn btn-default" <% unless @task.nil? %>disabled="disabled"<% end %>>Create Task</button>
			  </div>
		  </div>
		</form>

		<table class="table table-bordered table-hover table-condensed">
			<tr>
				<th class="text-center">img-thumb-url</th>
				<th class="text-center">img-url <%= text_field_tag 'url_regx' %></th>
				<th class="text-center">img-name</th>
			</tr>
			<% @task[:list].each_index do |i| %>
			<tr>
				<td class="thumb-url"><%= @task[:list].fetch(i) %></td>
				<td class="ori-url"><%= @task[:list].fetch(i).gsub('/th/','/i/') %></td>
				<td class="img-name"><%= @task[:name] %>_<%= "%03d.jpg" % (i+1).to_i %></td>
			</tr>
			<% end %>
		</table>
	<% end %>
	</div>
</div>

