<div class="container">
	<div class="row">
		<form class="form-horizontal" role="form" action="/task/index" method="post">
		  <div class="form-group">
		    <label class="col-md-offset-1 col-sm-2 control-label">Url</label>
		    <div class="col-sm-6">
			    <input type="text" class="form-control" name="url" placeholder="Enter url" value="http://g-x3hw4h3buw.urlcash.net">
			 </div>
			  <div class="col-sm-1">
				  <button type="submit" class="btn btn-default">Submit</button>
			  </div>
		  </div>
		</form>
    </div>
	

	<div class="row">
	<% if @list %>
		<form class="form-horizontal" role="form" action="/task/create" method="post">
		  <%= hidden_field_tag "album_timestamp", @album_timestamp %>	
		  <div class="form-group">
		    <label class="col-md-offset-1 col-sm-2 control-label">Task</label>
		    <div class="col-sm-6">
			    <input type="text" class="form-control" name="task_name" placeholder="Enter task name" value="<%= @album %>">
			 </div>
			  <div class="col-sm-1">
				  <button type="submit" class="btn btn-default">Create Task</button>
			  </div>
		  </div>
		</form>

		<table class="table table-bordered table-hover table-condensed">
			<% @list.each_index do |i| %>
			<tr>
				<td><%= @list[i][:url] %></td>
				<td><%= @album %>_<%= "%03d.jpg" % (i+1).to_i %></td>
			</tr>
			<% end %>
		</table>
	<% end %>
	</div>
</div>

