<h2 class="text-center"><%= @gallery[:name] %></h2>
<div class="row">
	<div class="col-md-12 text-center">
		<%= image_tag(thumbnail_url(@gallery[:name]),:class => "img-thumbnail") %>
	</div>
	<div class="col-md-6">
		<table class="table table-striped">
		<thead>
		  <tr>
		    <th class="text-center">#</th>
		    <th class="text-center">name</th>
		    <th class="text-center">size</th>
		    <th class="text-center">updatatime</th>
		  </tr>
		</thead>	
		<% @list.each do |pictrue| %>
		<tr>
			<td></td>
			<td class="text-center">
				<%= pictrue[:name] %>
			</td>
			<td class="text-center">
				<%= "#{pictrue[:size]/1024}kb" %>
			</td>
			<td class="text-center">
				<%= pictrue[:time] %>
			</td>		
		</tr>
		<% end %>
		</table>
	</div>
	<div class="col-md-6 text-center">
	</div>	
</div>
