<!DOCTYPE html>
<html>
<head>
  <title>Pgallery</title>
  <%= stylesheet_link_tag  "application", :media => "all" %>
  <%= stylesheet_link_tag  "http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
  <div class="navbar-header">
    <a class="navbar-brand" href="/gallery/list">Pgallery</a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/gallery/list">gallery</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Task <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><%= link_to  "Current Task",:action => "index" %></li>
          <li><a href="#">Finished Task</a></li>
        </ul>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Link</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </li>
    </ul>
  </div>
  </div>
</nav>
<%= yield %>

</body>
</html>
